.catalog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-box {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0px;
  background-color: #1B7AC2;
  justify-content: center;
}

.search-box input {
  background-color: rgba(255,255,255,.05);
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  border: 1px solid rgba(255,255,255,.4);
  min-width: 100px;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  color: #ccc;
  outline: 0;
  border-right: transparent;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.5);
}

.search-button {
 background:rgba(255,255,255,.05);
 border-top-right-radius: 8px;
 border-bottom-right-radius: 8px;
 border-right:1px solid rgba(255,255,255,.4);
 border-top:1px solid rgba(255,255,255,.4);
 border-bottom:1px solid rgba(255,255,255,.4);
 border-left:transparent;
 width:50px;
 box-sizing:border-box;
 color:rgba(255,255,255,.8);
 cursor:pointer
}

.card-content {
  max-width: 800px;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 3fr));
  box-sizing: border-box;
  grid-gap: 10px;
  justify-items: center;
}

.loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #1B7AC2;
  transition: .3s;
}

.requesting {
  color: rgba(255,255,255,.4);;
  font-weight: 100
}

.api-text {
  color: rgba(255,255,255, 1);;
  font-weight: 100
}

.loadMore:hover {
  color: #1B7AC2;
  background-color: #fff;
  border: 1px solid #1B7AC2;
  text-decoration: none;
  cursor: pointer;
}