.card {
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
 }
 
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   cursor: pointer;
 }
 
 .card-image {
   height: 190px;
   width: 100%;
 }
 
 .card-image img {
   height: 100%;
   width: 100%;
 }

 .card-name {
  max-width: 200px;
  max-height: 150px;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  color: #343434;
  overflow: auto;
  text-align: left;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none !important;
}
 