
.search-box {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0px;
  background-color: #1B7AC2;
  justify-content: center;
}

.navbar-hidden {
  top: -185px;
}

.search-box input {
  margin-left: 5px;
  background-color: rgba(255,255,255,.05);
  border-radius:8px;
  border: 1px solid rgba(255,255,255,.4);
  min-width: 100px;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  color: #ccc;
  outline: 0;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.5);
}

.search-button {
 background:rgba(255,255,255,.05);
 border-radius: 4px;
 border:1px solid rgba(255,255,255,.4);
 height: 50px;
 width:100px;
 box-sizing:border-box;
 color:rgba(255,255,255,.8);
 cursor:pointer
}

.filter-button {
  background:rgba(255,255,255,.05);
  border-radius: 4px;
  border:1px solid rgba(255,255,255,.4);
  height: 50px;
  width:100px;
  box-sizing:border-box;
  color:rgba(255,255,255,.8);
  cursor:pointer
}

.toggle-button {
  margin: 5px;
  color: white;
  cursor: pointer;
}
